<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 	<extension
      point = "org.eclipse.ui.preferencePages">
       <page id="com.hybris.hyeclipse.hac.preferences.HACPreferencePage"
	    	class="com.hybris.hyeclipse.hac.preferences.HACPreferencePage"
        	category="com.hybris.yps.hyeclipse.preferences.HyEclipsePreferencePage"
        	name=" hAC connection Preferences">
       </page>
   </extension>
   
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="com.hybris.hyeclipse.hac.preferences.HACPreferenceInitializer"/>
	</extension>

</plugin>
