<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated beans -->
      <package
            uri="file:/Users/i316750/development/hybris/tata/TSERes1_12Dec2016/hybris/hybris/bin/custom/ttweb/ttwebfacades/resources/beans.xsd"
            class="com.hybris.hyeclipse.emf.beans.BeansPackage"
            genModel="model/beans.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated beans -->
      <parser
            type="beans"
            class="com.hybris.hyeclipse.emf.beans.util.BeansResourceFactoryImpl"/>
   </extension>
   <!--
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.hybris.hyeclipse.emf.beans.descriptor"
            name="SAP Hybris Beans Descriptor"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="beans">
            </parameter>
         </describer>
      </content-type>
   </extension>
   -->
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="com.hybris.hyeclipse.emf.beans.util.BeansResourceFactoryImpl"
            contentTypeIdentifier="com.hybris.hyeclipse.emf.beans.descriptor">
      </parser>
   </extension>

</plugin>
