<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.hybris.hyeclipse.script.executor.testers.ScriptPropertyTester"
            id="com.hybris.hyeclipse.script.executor.ScriptPropertyTester"
            namespace="com.hybris.hyeclipse.script.executor"
            properties="isItImportableScript"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.hybris.hyeclipse.script.executor.handlers.scriptImport"
            class="com.hybris.hyeclipse.script.executor.handlers.ScriptImportHandler">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.hybris.hyeclipse.script.executor.handlers.scriptCommit"
            class="com.hybris.hyeclipse.script.executor.handlers.ScriptCommitHandler">
      </handler>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution 
        id="com.hybris.hyeclipse.menu.contribution"
      	locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <menu
               label="Script Import"
               path="additions"
               id="com.hybris.hyeclipse.impex.importer.menu.contributor"
               icon="icons/hybris.ico">
         </menu>
		<command
               commandId="com.hybris.hyeclipse.script.executor.handlers.scriptImport"
               label="[y] Run Script"
               style="push" icon="icons/hybris.ico">
               <visibleWhen>
				    <test forcePluginActivation="true"
				    	property="com.hybris.hyeclipse.script.executor.isItImportableScript">
             		</test>
			   </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution 
        id="com.hybris.hyeclipse.menu.contribution"
      	locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <menu
               label="Commit Script"
               path="additions"
               id="com.hybris.hyeclipse.impex.importer.menu.contributor"
               icon="icons/hybris.ico">
         </menu>
		<command
               commandId="com.hybris.hyeclipse.script.executor.handlers.scriptCommit"
               label="[y] Run and Commit Script"
               style="push" icon="icons/hybris.ico">
               <visibleWhen>
				    <test forcePluginActivation="true"
				    	property="com.hybris.hyeclipse.script.executor.isItImportableScript">
             		</test>
			   </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   
   <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="com.hybris.hyeclipse.script.executor.preferences.HACScriptExecutionPreferencePage"
	    	class="com.hybris.hyeclipse.script.executor.preferences.HACScriptExecutionPreferencePage"
        	category="com.hybris.yps.hyeclipse.preferences.HyEclipsePreferencePage"
        	name="[y] hAC script import Preferences">
       </page>
   </extension>
   
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="com.hybris.hyeclipse.script.executor.preferences.HACScriptExecutionPreferenceInitializer"/>
	</extension>
</plugin>