<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	
	
	
	
	
	<extension
	      point="org.eclipse.ui.menus">
	      <menuContribution locationURI="popup:#TextEditorContext?after=additions">
	      	<command
	      		icon="icon/hybris.ico"
	      		commandId="impexFormatter">
	      		<visibleWhen>
	      			<with variable="activeEditorId">
       					<equals value="com.hybris.impexformatter.editors.ImpexPageEditor"/>
   				 	</with>
               </visibleWhen>
	      	</command>
	      </menuContribution>
	</extension>
	
	
 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <content-type
          base-type="com.hybris.hyeclipse.parent"
          default-charset="utf-8"
          file-extensions="impex"
          file-patterns="*.impex"
          id="com.hybris.hyeclipse.impex"
          name="Impex"
          priority="high">
    </content-type>
    <content-type
          base-type="com.hybris.hyeclipse.parent"
          default-charset="utf-8"
          file-extensions="sql,flex,flexiblesearch,fs"
          id="com.hybris.hyeclipse.sql"
          name="SQL"
          priority="high">
    </content-type>
    <content-type
          base-type="org.eclipse.core.runtime.text"
          id="com.hybris.hyeclipse.parent"
          name="SAP Commerce Editor"
          priority="normal">
    </content-type>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editorContentTypeBinding
          contentTypeId="com.hybris.hyeclipse.parent"
          editorId="org.eclipse.ui.genericeditor.GenericEditor">
    </editorContentTypeBinding>
 </extension>
 <extension
       point="org.eclipse.tm4e.registry.grammars">
    <grammar
          path="project-settings/netbeans.impex.tmLanguage.json"
          scopeName="source.impex">
    </grammar>
    <scopeNameContentTypeBinding
          contentTypeId="com.hybris.hyeclipse.impex"
          scopeName="source.impex">
    </scopeNameContentTypeBinding>
    <grammar
          path="project-settings/sql.tmLanguage.json"
          scopeName="source.sql">
    </grammar>
    <scopeNameContentTypeBinding
          contentTypeId="com.hybris.hyeclipse.sql"
          scopeName="source.sql">
    </scopeNameContentTypeBinding>
 </extension>
 <extension
       point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
    <languageConfiguration
          contentTypeId="com.hybris.hyeclipse.impex"
          path="project-settings/impex.language-configuration.json">
    </languageConfiguration>
    <languageConfiguration
          contentTypeId="com.hybris.hyeclipse.sql"
          path="project-settings/sql.language-configuration.json">
    </languageConfiguration>
 </extension>
</plugin>
