<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.hybris.hyeclipse.ytypesystem.commands.sampleCommand"
            class="com.hybris.hyeclipse.ytypesystem.handlers.SampleHandler">
      </handler>
   </extension>

</plugin>
