<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.hybris.yps.hyeclipse.GenerateNewExtension"
            class="com.hybris.hyeclipse.extgen.handlers.ExtensionWizardHandler">
            <enabledWhen>
         	<with variable="com.hybris.hyeclipse.properties.platformHome">
         		<equals value="ENABLED">
                </equals>
         	</with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
		point="org.eclipse.ui.newWizards">
		<category
        id="sapHybris"
        name="SAP">
		</category>
		<wizard
        category="sapHybris"
        class="com.hybris.hyeclipse.extgen.wizards.NewExtensionWizard"
        descriptionImage="icon/hybris.ico"
        id="com.hybris.hyeclipse.extgen.wizards.NewExtensionWizard"
        name="New Extension">
		</wizard>
	</extension>
</plugin>
