<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.hybris.hyeclipse.tsv.preferences.TSVPreferencePage"
            id="com.hybris.hyeclipse.tsv.preferences.TSVPreferencePage"
            category="com.hybris.yps.hyeclipse.preferences.HyEclipsePreferencePage"
            name="TSV Preferences">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.hybris.hyeclipse.tsv.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   

</plugin>
