<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="TSV Category"
            id="com.hybris.hyeclipse.tsv.commands.category">
      </category>
      <command
            name="Run Validation"
            categoryId="com.hybris.hyeclipse.tsv.commands.category"
            id="com.hybris.hyeclipse.tsvextended.commands.tsvCommand">
      </command>
      <command
            categoryId="com.hybris.hyeclipse.tsv.commands.category"
            defaultHandler="com.hybris.hyeclipse.tsvextended.handlers.OpenTypeSystemPracticesHandler"
            id="com.hybris.hyeclipse.tsvextended.commands.tsvHelpCommand"
            name="openTypeSystemPracticesHandler">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.hybris.hyeclipse.tsv.preferences.TSVPreferencePage"
            id="com.hybris.hyeclipse.tsv.preferences.TSVPreferencePage"
            category="com.hybris.yps.hyeclipse.preferences.HyEclipsePreferencePage"
            name="TSV Preferences">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.hybris.hyeclipse.tsv.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-patterns="*-items.xml"
            id="com.hybris.hyeclipse.tsv.xml"
            name="SAP Commerce XML Item Type File"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="items">
            </parameter>
         </describer>
      </content-type>
      <file-association
            content-type="com.hybris.hyeclipse.tsv.xml"
            file-patterns="*-items.xml">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.hybris.hyeclipse.tsv.lsp.provider.StreamConnectionProvider"
            id="com.hybris.hyeclipse.tsv.types"
            label="SAP Commerce Item Types Server">
      </server>
      <contentTypeMapping
            contentType="com.hybris.hyeclipse.tsv.xml"
            id="com.hybris.hyeclipse.tsv.xml.mapping">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hybris.hyeclipse.tsv.extended.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml"
            icon="icons/sample.png"
            id="com.hybris.hyeclipse.tsv.extended.editors.XMLEditor"
            name="Sample XML Editor">
      </editor>
   </extension>
   

</plugin>
