name: Build
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: "Setup Java JDK"
      uses: "actions/setup-java@v5"
      with:
        distribution: "sapmachine"
        java-version: "21"

    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.6
    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots package
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
